%frameset{:rows => "*, 30px", :border => '0px', 'frameborder' => '0px', 'framespacing' => '0px'}
  %frame{:src => @item.url, :noresize => "noresize"}
  %frame{:src => "/nav" ,:noresize => "noresize"}
