%table
  - @queue.each do |item|
    %tr
      %td
        %a{:href => item.url}
          = item.url
      %td
        = item.read ? "read" : "unread"
      %td
        [
        %a{:href => "/delete?id=#{item.id}"}
          X
        ]
